.top_btn {
  margin: 2rem 0rem;
  padding: auto;

}
.to_top {
  border-radius: 10rem;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-rap: wrap;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
color: #fff;
transition: 0.5s ease;

}
.to_top:hover {
color: skyblue;
}

@media screen and (max-width:699px){
    .to_top {
        font-size: 14px;
        padding: 1.2rem;
    }
}
@media screen and (max-width:449px){
    .to_top {
        font-size: 12px;
        padding: 1rem;
    }
}
